# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: OSSF Scorecard

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: "0 5 * * 1"
  push:
    branches: [main, master]
  workflow_dispatch: {}

permissions: read-all

concurrency:
  group: scorecard-${{ github.ref }}
  cancel-in-progress: true

jobs:
  analysis:
    name: Scorecard Analysis
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
      security-events: write
      id-token: write
    steps:
      - name: Harden runner
        # yamllint disable-line rule:comments
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        # yamllint disable-line rule:comments
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Run OSSF Scorecard
        # yamllint disable-line rule:comments
        uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a # v2.4.3
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: Upload SARIF to code scanning
        # yamllint disable-line rule:comments
        uses: github/codeql-action/upload-sarif@cf1bb45a277cb3c205638b2cd5c984db1c46a412 # v4.31.7
        with:
          sarif_file: results.sarif
