# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: OSSF Scorecard

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: "0 5 * * 1"
  push:
    branches: [main, master]
  workflow_dispatch: {}

permissions:
  contents: read
  security-events: write
  id-token: write

concurrency:
  group: scorecard-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  analysis:
    name: Scorecard Analysis
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Harden runner
        # yamllint disable-line rule:comments
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout repository
        # yamllint disable-line rule:comments
        uses: actions/checkout@v4.1.6

      - name: Run OSSF Scorecard
        # yamllint disable-line rule:comments
        uses: ossf/scorecard-action@v2.3.1
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: Upload SARIF to code scanning
        # yamllint disable-line rule:comments
        uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee # v4.31.2
        with:
          sarif_file: results.sarif
