# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: SonarQube

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: sonar-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  sonar:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Harden runner
        # yamllint disable-line rule:comments
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit
      - name: Checkout repository
        # yamllint disable-line rule:comments
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          # Disabling shallow clones is recommended for improving the relevancy of reporting
          fetch-depth: 0
      - name: SonarQube analysis
        # yamllint disable-line rule:comments
        uses: SonarSource/sonarqube-scan-action@v6.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
