# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: SonarQube

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: sonar-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  sonar:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Harden runner
        # yamllint disable-line rule:comments
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Checkout repository
        # yamllint disable-line rule:comments
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          # Disabling shallow clones is recommended for improving the relevancy of reporting
          fetch-depth: 0
      - name: SonarQube analysis
        # yamllint disable-line rule:comments
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
